html,
body,
#root {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #303035;
    color:rgb(227, 227, 227);
}

a {
    color: #e58080;
    text-decoration: none;

}

#index {
    z-index: 16448444;
    position: absolute;
    ul {
        font-size: 16px;
    }
    .active {
        color:#7d3b3b;
    }
    .page-title {
        font-size: larger;
        padding-top: 1rem;
        margin: 0;
        list-style: none;
    }
}

#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: white;
}

#detail {
    flex: 1;
    width: 100%;

    .loading {
        opacity: 0.25;
        transition: opacity 200ms;
        transition-delay: 200ms;
    }
}

#footer {
    z-index: 16448443;
    position: fixed;
    right: 5px;
    bottom: 5px;
    color: white;
}

.small-text {
    font-size: 0.8rem;
}